<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    <title>Document</title>
</head>

<body>
    <div class="app">
        {{ message }}
        <input @keyup.enter="enterKey(message)" v-model="message"/>
        <button @click.prevent.stop="toggle">click me 1</button>
        <button @click="toggle2">click me 2</button>
        <button @click="toggle3">click me 3</button>
        <button @click="toggle4">click me 4</button>
        <hr>
        <div class="demo">
            <div v-if="demo" class="box"></div>
            <div v-if="demo2" class="box2"></div>
            <div v-if="demo3" class="box3"></div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="test.js"></script>
</body>

</html>